<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet" media="screen" th:href="@{/css/font-awesome.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />

    <title>Smail</title>
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top" th:fragment="header">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class = "navbar-brand mr-auto" href="." th:href="@{/}">Sm@il</a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
<!--                @<span th:text="${#httpServletRequest.requestURI}">User</span>@-->
<!--                @<span th:text="@{/account/list}">User</span>@-->
                <li class="nav-item" th:classappend="${#httpServletRequest.servletPath == '/' ? 'active' : ''}">
                    <a class="nav-link" href="." th:href="@{/}">
                        <span class="fa fa-home fa-lg"></span> <span th:text="#{header.home}">Home</span></a></li>

                <li class="nav-item"
                    sec:authorize="isAnonymous()"
                    th:classappend="${#httpServletRequest.servletPath == '/about' ? 'active' : ''}">
                    <a class="nav-link" href="about" th:href="@{/about}">
                        <span class="fa fa-info fa-lg"></span> <span th:text="#{header.about}">About</span></a></li>

                <li class="nav-item"
                    sec:authorize="!hasRole('MANAGER')"
                    th:classappend="${#httpServletRequest.servletPath == '/contact' ? 'active' : ''}">
                    <a class="nav-link" href="contact" th:href="@{/contact}">
                        <span class="fa fa-address-card fa-lg"></span> <span th:text="#{header.contact}">Contact</span></a></li>

                <li class="nav-item" th:classappend="${#httpServletRequest.servletPath == '/distance/list' ? 'active' : ''}">
                    <a class="nav-link" href="distance/list" th:href="@{/distance/list}">
                        <span th:text="#{entity.distances}">Distances</span></a></li>

                <li class="nav-item"
                    sec:authorize="hasRole('MANAGER')"
                    th:classappend="${#httpServletRequest.servletPath == '/destination/list' ? 'active' : ''}">
                    <a class="nav-link" href="destination/list" th:href="@{/destination/list}">
                        <span th:text="#{entity.destinations}">Destinations</span></a></li>

                <li class="nav-item"
                    sec:authorize="hasRole('MANAGER')"
                    th:classappend="${#httpServletRequest.servletPath == '/account/list' ? 'active' : ''}">
                    <a class="nav-link" href="account/list" th:href="@{/account/list}">
                        <span th:text="#{entity.accounts}">Accounts</span></a></li>

                <li class="nav-item"
                    sec:authorize="hasRole('MANAGER')"
                    th:classappend="${#httpServletRequest.servletPath == '/order_type/list' ? 'active' : ''}">
                    <a class="nav-link" href="order_type/list" th:href="@{/order_type/list}">
                        <span th:text="#{entity.order_types}">Order Types</span></a></li>

                <li class="nav-item"
                    sec:authorize="hasAnyRole('MANAGER', 'AUSER')"
                    th:classappend="${#httpServletRequest.servletPath == '/order/list' ? 'active' : ''}">
                    <a class="nav-link" href="order/list" th:href="@{/order/list}">
                        <span th:text="#{entity.orders}">Orders</span></a></li>

                <li class="nav-item"
                    sec:authorize="!hasAnyRole('MANAGER', 'AUSER') && hasRole('USER')"
                    th:classappend="${#httpServletRequest.servletPath == '/order/add' ? 'active' : ''}">
                    <a class="nav-link" href="order/add" th:href="@{/order/add}">
                        <span th:text="#{header.calculate}">Calculate cost</span></a></li>

                <li class="nav-item"
                    sec:authorize="hasAnyRole('MANAGER', 'AUSER')"
                    th:classappend="${#httpServletRequest.servletPath == '/invoice/list' ? 'active' : ''}">
                    <a class="nav-link" href="invoice/list" th:href="@{/invoice/list}">
                        <span th:text="#{entity.invoices}">Invoices</span></a></li>

                <li class="nav-item" sec:authorize="hasRole('MANAGER')"
                    th:classappend="${#httpServletRequest.servletPath == '/report/order' ? 'active' : ''}">
                    <a class="nav-link" href="report/order" th:href="@{/report/order}">
                        <span th:text="#{header.reports}">Reports</span></a></li>

                <!--                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--                    <a  class="nav-link" href="/logout" th:href="@{#}" onclick="$('#form').submit();">-->
<!--                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout-->
<!--                        <span th:text="${#authentication.name}">User</span>-->
<!--                    </a>-->
<!--                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>-->
<!--                </li>-->


            </ul>

            <ul class="nav navbar-nav navbar-right"
                th:with="queryString=${#request.queryString == null ? '' : '?' + #strings.replace(#strings.replace(#request.queryString, '&lang='+#locale, ''), 'lang='+#locale, '')}">
                <li class="nav-item" th:classappend="${#locale.language == 'en' ? 'active' : ''}">
                    <a class="nav-link" href="#" th:href="@{${#request.requestURI} + ${queryString}(lang=en)}"}>en</a>
                </li>
                <li class="nav-item" th:classappend="${#locale.language == 'ua' ? 'active' : ''}">
                    <a class="nav-link" href="#" th:href="@{${#request.requestURI} + ${queryString}(lang=ua)}">ua&nbsp;</a>
                </li>

                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/signin" th:href="@{/signin}">
                        <span class="fa fa-sign-in fa-lg"></span>&nbsp;
                        <span th:text="#{header.sign_in}">Sign in</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="fa fa-sign-out fa-lg"></span>&nbsp;
                        <span th:text="#{header.sign_out}">Sign out</span>&nbsp;
                        <span th:text="${#authentication.name}">User</span>
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>

        </div>
    </div>

</nav>
<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<script src="../../static/js/jquery.slim.min.js" th:src="@{/js/jquery.slim.min.js}"></script>
<script src="../../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>