.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#################################

.test {
  background-color: greenyellow;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #1e2939;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #637a9e;
  color: #f5f7fa;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  background: #f5f7fa;
  padding: 50px 0px 40px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: #1e2939;
}

.navbar-brand {
  padding: 0px 20px 0px 0px;
}

.navbar-toggler {
  margin-right: 10px;
}

.header-regular {
  padding: 20px 20px 20px 20px;
  margin: 0px auto;
  background: #637a9e;
  color: #f5f7fa;
}

.main-content {
  margin: 20px auto;
}
/* ab: overriding ugly buttons */
.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}

