<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<header class="header-regular">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1 th:text="#{entity.accounts}">Accounts</h1>
                <!--                <p>We take parcels and simply deliver them!</p>-->
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>

<div class="container main-content">

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${accounts.empty}">
            <td colspan="4">No accounts</td>
        </tr>
        <tr th:each="account : ${accounts}">
            <td th:text="${account.id}">1</td>
            <td>
                <a href="#" th:href="@{/account/edit(accountId=${account.id})}" th:text="${account.email}">Email</a>
            </td>
            <td th:text="${account.role.displayValue}">USER</td>
            <td>
                <a th:href="@{/account/edit(accountId=${account.id})}"
                   class="btn btn-secondary btn-sm" th:text="#{general.edit}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>