<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<header class="header-regular">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1 th:text="#{entity.account}">Account</h1>
                <!--                <p>We take parcels and simply deliver them!</p>-->
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>

<div class="container main-content">
    <form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/account/chrole}"
          th:object="${account}">

        <input type="hidden" th:field="*{id}" />

        <fieldset>
            <legend>Edit</legend>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label text-truncate"
                       th:for="${#ids.next('email')}" >Email</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" placeholder="Email" readonly
                           th:field="*{email}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-3 col-form-label text-truncate"
                       th:for="${#ids.next('role')}">Role</label>
                <div class="col-lg-9">
                    <select class="form-control" th:field="*{role}">
                        <option th:each="role : ${T(com.example.smail.account.Role).values()}"
                                th:value="${role}"
                                th:text="${role.displayValue}">Option
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-lg-3 col-lg-9">
                    <button type="submit" class="btn btn-primary" th:text="#{general.save}">Save</button>
                    <a class="btn btn-secondary" th:href="@{/account/list}" th:text="#{general.cancel}">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
<!--    <hr>-->
<!--    <form action="#" th:action="@{/account/save}" th:object="${account}" method="POST">-->
<!--        <div class="btn-group btn-group-toggle" data-toggle="buttons">-->
<!--            <label class="btn btn-secondary active">-->
<!--                <input type="radio" name="options" id="option1" checked> Active-->
<!--            </label>-->
<!--            <label class="btn btn-secondary">-->
<!--                <input type="radio" name="options" id="option2"> Radio-->
<!--            </label>-->
<!--            <label class="btn btn-secondary">-->
<!--                <input type="radio" name="options" id="option3"> Radio-->
<!--            </label>-->
<!--        </div>-->

<!--        <div class="btn-group btn-group-toggle" data-toggle="buttons">-->
<!--            <label class="btn btn-secondary active"-->
<!--                   th:each="role : ${T(com.example.smail.account.Role).values()}">-->
<!--                <input type="radio" name="options" th:value="${role}"> MANAGER-->
<!--            </label>-->
<!--        </div>-->

<!--        <select class="form-control" name="role">-->
<!--            <option th:each="role : ${T(com.example.smail.account.Role).values()}"-->
<!--                    th:value="${role}" th:text="${role}">test-->
<!--            </option>-->
<!--        </select>-->

<!--        <button type="submit" class="btn btn-info col-2">Save</button>-->

<!--    </form>-->

    <hr>
    <a th:href="@{/account/list}">Back to Account List</a>


</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>