<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<header class="header-regular">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1 th:text="#{entity.destinations}">Destinations</h1>
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>

<div class="container main-content">

    <!-- Add button -->
    <div>
        <a th:href="@{/destination/add}"
           class="btn btn-primary" th:text="#{general.add}">Add</a>
    </div>
    <br>

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th style="width: 70%" th:text="#{general.name}">Name</th>
            <th th:text="#{general.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${destinations.empty}">
            <td colspan="2">No destinations</td>
        </tr>
        <tr th:each="destination : ${destinations}">
            <td>
                <a href="#" th:href="@{/destination/edit(id=${destination.id})}" th:text="${destination.name}">Name</a>
            </td>
            <td>
                <a class="btn btn-secondary btn-sm"
                   th:href="@{/destination/edit(id=${destination.id})}" th:text="#{general.edit}">Edit</a>
                <a class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this item?'))) return false"
                   th:href="@{/destination/delete(id=${destination.id})}" th:text="#{general.delete}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>