<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<header class="header-regular">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1 th:text="#{entity.destination}">Destination</h1>
                <!--                <p>We take parcels and simply deliver them!</p>-->
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>

<div class="container main-content" th:object="${destination}">

    <form method="post" th:action="@{/destination/save}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('name')}">Name</label>
            <div class="col-lg-9">
                <input type="text" class="form-control"
                       th:field="*{name}"
                       th:classappend="${#fields.hasErrors('name')}? 'is-invalid'">
                <div class="invalid-feedback" th:errors="*{name}">Incorrect name</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
<!--                <input type="submit" class="btn btn-primary">-->
                <button type="submit" class="btn btn-primary" th:text="#{general.save}">Save</button>
                <a class="btn btn-secondary" th:href="@{/destination/list}" th:text="#{general.cancel}">Cancel</a>
            </div>
        </div>
    </form>

    <hr>
    <h2>Distances</h2>

    <!-- Add button -->
    <div>
        <a th:href="@{/distance/add(from_id=${destination.id})}"
           class="btn btn-primary" th:text="#{general.add}">Add</a>
    </div>
    <br>

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th style="width: 60%">Destination</th>
            <th>Distance</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="*{distances.empty}">
            <td colspan="3">No distances</td>
        </tr>
        <tr th:each="distance : *{distances}">
            <td>
                <a href="#"
                   th:href="@{/destination/edit(id=${distance.to.id})}"
                   th:text="${distance.to.name}">To Name</a>
            </td>
            <td align="right" th:text="${distance.value}">
                100
            </td>
            <td>
                <a class="btn btn-secondary btn-sm"
                   th:href="@{/distance/add(
                        from_id=${distance.from.id},
                        to_id=${distance.to.id},
                        value=${distance.value})}" th:text="#{general.edit}">Edit</a>
                <a class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this item?'))) return false"
                   th:href="@{/distance/delete(from_id=${distance.from.id},to_id=${distance.to.id})}" th:text="#{general.delete}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>