<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen" th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<header class="header-regular">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1 th:text="#{entity.distances}">Distances</h1>
                <!--                <p>We take parcels and simply deliver them!</p>-->
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>

<div class="container main-content">
    <form method="get" th:action="@{/distance/list}">
        <input type="hidden" name="size" th:value="${distances.size}"/>
        <input type="hidden" name="page" value="0"/>
<!--        <input type="hidden" name="page" th:value="${distances.number}"/>-->
        <input type="hidden" name="sort" th:each="order : ${distances.sort}"
               th:value="${order.property + ',' + order.direction}"/>
        <div class="form-group row">
            <label class="col-lg-1 col-form-label text-truncate"
                   th:for="${#ids.next('from')}"
                   th:text="#{entity.distance.from}">From</label>
            <div class="col-lg-4">
                <select class="form-control" name="from_id" onchange='this.form.submit()'>
                    <option></option>
                    <option th:each="destination : ${destinations}"
                            th:value="${destination.id}"
                            th:text="${destination.name}"
                            th:attr="selected=${from_id == destination.id} ? 'selected'">Option
                    </option>
                </select>
            </div>

            <label class="col-lg-1 col-form-label text-truncate"
                   th:for="${#ids.next('to_filter')}"
                   th:text="#{entity.distance.to}">To</label>
            <div class="col-lg-4" style="margin-bottom: 10px">
                <input class="form-control" name="to_filter"
                       th:value="${to_filter}">
            </div>

            <div class="col-lg-2">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit" th:text="#{general.search}">Search</button>
                </div>
            </div>
        </div>
    </form>

    <div th:with="baseUrl='',
            pageURLparams=',size=${distances.size}, page=${distances.number}',
            searchURLparams='__(${from_id} != -1 ? ',from_id=${from_id}' : '')__
                        __(${to_filter} != '' ? ',to_filter=${to_filter}' : '')__'">
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th><span th:text="#{entity.distance.from}">From</span>
                    <a href="#" th:href="@{${baseUrl}(sort='from.name,asc' __(${pageURLparams})__ __(${searchURLparams})__)}">
                        <i class="fa fa-arrow-down"></i></a>
                    <a href="#" th:href="@{${baseUrl}(sort='from.name,desc' __(${pageURLparams})__ __(${searchURLparams})__)}">
                        <i class="fa fa-arrow-up"></i></a>
                </th>
                <th><span th:text="#{entity.distance.to}">To</span>
                    <a href="#" th:href="@{${baseUrl}(sort='to.name,asc' __(${pageURLparams})__ __(${searchURLparams})__)}">
                        <i class="fa fa-arrow-down"></i></a>
                    <a href="#" th:href="@{${baseUrl}(sort='to.name,desc' __(${pageURLparams})__ __(${searchURLparams})__)}">
                        <i class="fa fa-arrow-up"></i></a>
                </th>
                <th><span th:text="#{entity.distance.value}">Distance</span>
                    <a href="#" th:href="@{${baseUrl}(sort='value,asc' __(${pageURLparams})__ __(${searchURLparams})__)}">
                        <i class="fa fa-arrow-down"></i></a>
                    <a href="#" th:href="@{${baseUrl}(sort='value,desc' __(${pageURLparams})__ __(${searchURLparams})__)}">
                        <i class="fa fa-arrow-up"></i></a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${distances.empty}">
                <td colspan="3">No distances</td>
            </tr>
            <tr th:each="distance : ${distances}">
                <td style="width: 40%" th:text="${distance.from.name}">From Name</td>
                <td style="width: 40%" th:text="${distance.to.name}">To Name</td>
                <td align="right" th:text="${distance.value}">100</td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="..." th:if="${distances.totalPages > 1}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${distances.number == 0 ? 'disabled' : ''}">
                    <a class="page-link" href="#"
                       th:href="@{${baseUrl}(size=${distances.size}, page=${distances.number-1}
                         __(${sortURLparams})__ __(${searchURLparams})__)}"
                       th:tabindex="${distances.number == 0}?'-1'"
                       th:attr="aria-disabled=${distances.number == 0}?'true'"
                       th:text="#{general.previous}">Previous</a>
                </li>

                <th:block th:each="i: ${#numbers.sequence(0, distances.totalPages - 1)}">
                <li class="page-item"
                    th:classappend="${distances.number == i}?'active'"
                    th:attr="aria-current=${distances.number == i}?'page'">
                    <span th:if="${distances.number == i}" class="page-link">[[${i+1}]]</span>
                    <a th:unless="${distances.number == i}" class="page-link"
                       th:href="@{${baseUrl}(size=${distances.size}, page=${i}
                         __(${sortURLparams})__ __(${searchURLparams})__)}">[[${i+1}]]</a>
                </li>
                </th:block>

                <li class="page-item" th:classappend="${distances.number == distances.totalPages-1 ? 'disabled' : ''}">
                    <a class="page-link" href="#"
                       th:href="@{${baseUrl}(size=${distances.size}, page=${distances.number+1}
                         __(${sortURLparams})__ __(${searchURLparams})__)}"
                       th:tabindex="${distances.number == distances.size}?'-1'"
                       th:attr="aria-disabled=${distances.number == distances.totalPages-1}?'true'"
                       th:text="#{general.next}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>