<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sorry page</title>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<div class="container">
    <h1>Please try again later</h1>
    <p th:utext="${description}">Description</p>
    <a href="/" th:href="@{/}">Back to Home Page</a>
</div>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Error page</title>-->
<!--    <meta charset="utf-8" />-->
<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>-->
<!--    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>-->
<!--</head>-->
<!--<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">-->
<!--<div class="container">-->
<!--    <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>-->
<!--    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>-->
<!--<a href="/" th:href="@{/}">Back to Home Page</a>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->