<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen" th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1 th:text="#{home.title}">Sm@il</h1>
                <p th:text="#{home.motto}">Not so fast!</p>
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>

<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 order-sm-last col-md-3">
                <!--            <h3>Fastest delivery</h3>-->
            </div>
            <div class="col col-sm order-sm-first col-md">
                <h2>Доставка вантажу</h2>
                <p>Існують ролі: Користувач, Авторизований користувач, Менеджер.
                    На сайті компанії доставки вантажів розміщено інформацію про напрямки доставки, а також про тарифи (тарифи залежать від відстані, ваги та габаритів вантажу).
                    Незареєстрований користувач може переглядати інформацію на сайті, відсортувавши чи відфільтрувавши її за напрямами доставки, а також має можливість самостійно розрахувати вартість послуг.
                    Авторизований користувач може створити заявку на доставку вантажу і вказати адресу доставки. Заявка містить інформацію про тип багажу, вагу, об’єм і дату отримання.
                    Менеджер опрацьовує заявки і формує квитанції до сплати, а також може отримувати звіти щодо доставок (по днях та напрямках).
                    Авторизований користувач в своєму кабінеті може сплатити квитанцію на доставку.</p>
            </div>
        </div>
    </div>
    <center><img style='height: 100%; width: 100%; object-fit: contain' src="../static/images/schema.png" th:src="@{/images/schema.png}"></center>
    <a href="http://fp-smails.herokuapp.com">Counterpart</a>
</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>