<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<header class="header-regular">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1 th:text="#{entity.invoices}">Invoices</h1>
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>

<div class="container main-content">

<!--    &lt;!&ndash; Add button &ndash;&gt;-->
<!--    <div>-->
<!--        <a th:href="@{/invoice/add}"-->
<!--           class="btn btn-primary">Add</a>-->
<!--    </div>-->
<!--    <br>-->

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th style="width: 8%" th:text="#{general.number}">#</th>
            <th style="width: 10%" th:text="#{general.created}">Created</th>
            <th th:text="#{entity.account}">Account</th>
            <th th:text="#{entity.order}">Order</th>
            <th th:text="#{entity.invoice.total}">Total</th>
            <th th:text="#{general.comment}">Comment</th>
            <th th:text="#{entity.invoice.paid}">Paid</th>
            <th th:text="#{general.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${invoices.empty}">
            <td colspan="8">No Invoices</td>
        </tr>
        <tr th:each="invoice : ${invoices}">
            <td th:text="${invoice.number}">200002</td>
            <td th:text="${#temporals.format(invoice.created, 'yyyy-MM-dd HH:mm')}">created</td>
            <td th:text="${invoice.account.email}">account</td>
            <td>
                <a href="#" th:href="@{/order/edit(id=${invoice.order.id})}"
                   th:text="${@orderService.getRepresentation(invoice.getOrder())}">order</a>
            </td>
            <td th:text="${{invoice.total}}">total</td>
            <td th:text="${invoice.comment}">comment</td>
            <td th:text="${invoice.paid}">F</td>
            <td>
                <a class="btn btn-danger btn-sm"
                   sec:authorize="hasRole('AUSER')"
                   onclick="if (!(confirm('Are you sure you want to pay?'))) return false"
                   th:href="@{/invoice/pay(id=${invoice.id})}" th:text="#{general.pay}">Pay</a>
                <a class="btn btn-secondary btn-sm"
                   sec:authorize="hasRole('MANAGER')"
                   th:href="@{/invoice/edit(id=${invoice.id})}" th:text="#{general.edit}">Edit</a>
                <a class="btn btn-danger btn-sm"
                   sec:authorize="hasRole('MANAGER')"
                   onclick="if (!(confirm('Are you sure you want to delete this item?'))) return false"
                   th:href="@{/invoice/delete(id=${invoice.id})}" th:text="#{general.delete}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>