<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<header class="header-regular">
    <div class="container">
        <div class="row row-header">
            <div>
                <h1 th:text="*{@orderService.getRepresentation(invoice)}">Invoice</h1>
                <!--                <p>We take parcels and simply deliver them!</p>-->
            </div>
        </div>
    </div>
</header>

<div class="container main-content" th:object="${invoice}">

    <form method="post" th:action="@{/invoice/save}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{order}">
        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('order')}">Order</label>
            <div class="col-lg-9">
                <a href="#" id="order" th:href="@{/order/edit(id=*{order.id})}" th:text="*{@orderService.getRepresentation(order)}">Number</a>
            </div>
        </div>

<!--        <div class="form-group row">-->
<!--            <label class="col-lg-3 col-form-label text-truncate"-->
<!--                   th:for="${#ids.next('number')}">Number</label>-->
<!--            <div class="col-lg-2">-->
<!--                <input type="text" class="form-control"-->
<!--                       th:value="*{number}" readonly="readonly">-->
<!--&lt;!&ndash;                <div class="invalid-feedback" th:errors="*{number}">Incorrect number</div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('comment')}">Comment</label>
            <div class="col-lg-9">
                <input class="form-control" th:field="*{comment}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('total')}">Total</label>
            <div class="col-lg-2">
                <input class="form-control" th:field="*{total}"
                       th:classappend="${#fields.hasErrors('total')}? 'is-invalid'">
                <div class="invalid-feedback" th:errors="*{total}">Validation message</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
                <button type="submit"
                        class="btn btn-primary"
                        th:text="#{general.save}">Save</button>
                <a class="btn btn-secondary" th:href="@{/invoice/list}" th:text="#{general.cancel}">Cancel</a>
                <a class="btn btn-danger btn"
                   onclick="if (!(confirm('Are you sure you want to delete this item?'))) return false"
                   th:href="@{/invoice/delete(id=*{id})}" th:text="#{general.delete}">Delete</a>
            </div>
        </div>
    </form>

</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>