<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<header class="header-regular">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1 th:text="#{entity.order_type}">Order Type</h1>
                <!--                <p>We take parcels and simply deliver them!</p>-->
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>

<div class="container main-content" th:object="${orderType}">

    <form method="post" th:action="@{/order_type/save}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('name')}"
                   th:text="#{general.name}">Name</label>
            <div class="col-lg-9">
                <input type="text" class="form-control"
                       th:field="*{name}"
                       th:classappend="${#fields.hasErrors('name')}? 'is-invalid'">
                <div class="invalid-feedback" th:errors="*{name}">Incorrect name</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
<!--                <input type="submit" class="btn btn-primary">-->
                <button type="submit" class="btn btn-primary" th:text="#{general.save}">Save</button>
                <a class="btn btn-secondary" th:href="@{/order_type/list}" th:text="#{general.cancel}">Cancel</a>
            </div>
        </div>
    </form>

</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>