<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<header class="header-regular">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1 th:text="#{entity.orders}">Orders</h1>
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>

<div class="container main-content">

    <!-- Add button -->
    <div>
        <a th:href="@{/order/add}"
           class="btn btn-primary" th:text="#{general.add}">Add</a>
    </div>
    <br>

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th style="width: 8%" th:text="#{general.number}">Number</th>
            <th style="width: 10%" th:text="#{general.created}">Created</th>
            <th th:text="#{entity.account}">Account</th>
            <th th:text="#{entity.order.from}">From</th>
            <th th:text="#{entity.order.to}">To</th>
            <th th:text="#{entity.order.total}">Total</th>
            <th th:text="#{general.details}">Details</th>
            <th th:text="#{general.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${orders.empty}">
            <td colspan="8">No Orders</td>
        </tr>
        <tr th:each="order : ${orders}">
            <td>
                <a href="#" th:href="@{/order/edit(id=${order.id})}" th:text="${order.number}">200022</a>
            </td>
            <td th:text="${#temporals.format(order.created, 'yyyy-MM-dd HH:mm')}">Created</td>
            <td th:text="${order.account.email}">account</td>
            <td th:text="${order.from.name}" >from</td>
            <td th:text="${order.to.name}">to</td>
            <td th:text="${order.total}">total</td>
            <td th:text="${order.details}">description</td>
            <td>
                <th:block sec:authorize="hasRole('MANAGER')">
                <a class="btn btn-secondary btn-sm"
                   th:href="@{/order/edit(id=${order.id})}" th:text="#{general.edit}">Edit</a>
                <a class="btn btn-secondary btn-sm"
                   th:href="@{/order/copy(id=${order.id})}" th:text="#{general.copy}">Copy</a>
                <a class="btn btn-info btn-sm"
                   th:href="@{/invoice/add(order_id=${order.id})}" th:text="#{entity.invoice}">Invoice</a>
                <a class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this item?'))) return false"
                   th:href="@{/order/delete(id=${order.id})}" th:text="#{general.delete}">Delete</a>
                </th:block>
                <a class="btn btn-secondary btn-sm"
                   sec:authorize="hasRole('AUSER')"
                   th:href="@{/order/edit(id=${order.id})}" th:text="#{general.view}">View</a>

            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>