<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<!--<header class="header-regular">-->
<!--    <div class="container">-->
<!--        <div class="row row-header">-->
<!--            <div class="col-12 col-sm-6">-->
<!--                <h1>Order</h1>-->
<!--                &lt;!&ndash;                <p>We take parcels and simply deliver them!</p>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="col-12 col-sm">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<header class="header-regular">
    <div class="container">
        <div class="row row-header">
            <div>
                <h1>
                    <span th:if="${order_representation == null}"><span th:text="#{entity.order}">Order</span>*</span>
                    <span th:unless="${order_representation == null}" th:text="${order_representation}"></span>
                </h1>
                <!--                <p>We take parcels and simply deliver them!</p>-->
            </div>
        </div>
    </div>
</header>

<div class="container main-content" th:object="${order}">

    <form method="post" th:action="@{/order/save}">
        <input type="hidden" th:field="*{id}">
<!--        <div class="form-group row">-->
<!--            <label class="col-lg-3 col-form-label text-truncate"-->
<!--                   th:for="${#ids.next('number')}">Number</label>-->
<!--            <div class="col-lg-9">-->
<!--                <input type="text" class="form-control"-->
<!--                       th:value="*{number}" readonly="readonly">-->
<!--                <div class="invalid-feedback" th:errors="*{number}">Incorrect number</div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('from')}"
                   th:text="#{entity.order.from}">From</label>
            <div class="col-lg-9">
                <select class="form-control" th:field="*{from}"
                        th:classappend="${#fields.hasErrors('from')}? 'is-invalid'">
                    <option value="-1"></option>
                    <option th:each="destination : ${destinations}"
                            th:value="${destination.id}"
                            th:text="${destination.name}">Option
                    </option>
                </select>
                <div class="invalid-feedback" th:errors="*{from}">Validation message</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('to')}"
                   th:text="#{entity.order.to}">To</label>
            <div class="col-lg-9">
                <select class="form-control" th:field="*{to}"
                        th:classappend="${#fields.hasErrors('to')}? 'is-invalid'">
                    <option value="-1"></option>
                    <option th:each="destination : ${destinations}"
                            th:value="${destination.id}"
                            th:text="${destination.name}">Option
                    </option>
                </select>
                <div class="invalid-feedback" th:errors="*{to}">Validation message</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('address')}"
                   th:text="#{entity.order.address}">Address</label>
            <div class="col-lg-9">
                <input class="form-control" th:field="*{address}"
                        th:classappend="${#fields.hasErrors('address')}? 'is-invalid'">
                <div class="invalid-feedback" th:errors="*{address}">Validation message</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('type')}"
                   th:text="#{entity.order.type}">Type</label>
            <div class="col-lg-4">
                <select class="form-control" th:field="*{type}"
                        th:classappend="${#fields.hasErrors('type')}? 'is-invalid'">
                    <option value="-1"></option>
                    <option th:each="type : ${orderTypes}"
                            th:value="${type.id}"
                            th:text="${type.name}">Option
                    </option>
                </select>
                <div class="invalid-feedback" th:errors="*{type}">Validation message</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('weight')}"
                   th:text="#{entity.order.weight}">Weight, kg</label>
            <div class="col-lg-2">
                <input class="form-control" th:field="*{weight}"
                       th:classappend="${#fields.hasErrors('weight')}? 'is-invalid'">
                <div class="invalid-feedback" th:errors="*{weight}">Validation message</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('length')}"
                   th:text="#{entity.order.dimensions}">Dimensions, cm</label>
            <div class="col-lg-2">
                <input class="form-control" th:field="*{length}"
                       th:classappend="${#fields.hasErrors('length')}? 'is-invalid'">
                <div class="invalid-feedback" th:errors="*{length}">Validation message</div>
            </div>
            <label class="col-lg-auto col-form-label"
                   th:for="${#ids.next('width')}">x</label>
            <div class="col-lg-2">
                <input class="form-control" th:field="*{width}"
                       th:classappend="${#fields.hasErrors('width')}? 'is-invalid'">
                <div class="invalid-feedback" th:errors="*{width}">Validation message</div>
            </div>
            <label class="col-lg-auto col-form-label"
                   th:for="${#ids.next('height')}">x</label>
            <div class="col-lg-2">
                <input class="form-control" th:field="*{height}"
                       th:classappend="${#fields.hasErrors('height')}? 'is-invalid'">
                <div class="invalid-feedback" th:errors="*{height}">Validation message</div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('deliveryDate')}"
                   th:text="#{entity.order.deliveryDate}">Delivery date</label>
            <div class="col-lg-3">
                <input type="date" class="form-control" th:field="*{deliveryDate}"
                       th:classappend="${#fields.hasErrors('deliveryDate')}? 'is-invalid'">
                <div class="invalid-feedback" th:errors="*{deliveryDate}">Validation message</div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-truncate"
                   th:for="${#ids.next('total')}"
                   th:text="#{entity.order.total}">Total</label>
            <div class="col-lg-3">
                <input type="number" id="total" class="form-control"
                       style="text-align:right;" readonly value="123.45" th:value="${total}">
            </div>
            <div class="col-lg-3" th:if="${order.id == 0}">
                <button type="submit" class="btn btn-info" th:formaction="@{/order/total}"
                        th:text="#{general.calculate}">Calculate</button>
            </div>
        </div>


        <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
<!--                <input type="submit" class="btn btn-primary">-->
                <th:block th:if="${order.id == 0}">
                    <button type="submit" class="btn btn-primary"
                            sec:authorize="hasAnyRole('MANAGER', 'AUSER')"
                            th:text="#{general.save}">Save</button>
                </th:block>
                <th:block th:unless="${order.id == 0}">
                    <button type="submit" class="btn btn-primary"
                            sec:authorize="hasRole('MANAGER')">Update</button>
                </th:block >

                <a class="btn btn-secondary" th:href="@{/order/list}" th:text="#{general.cancel}">Cancel</a>
            </div>
        </div>
    </form>

</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>