<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen" th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>

    <title>Smail</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<header class="header-regular">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1 th:text="#{header.reports}">Report</h1>
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>

<div class="container main-content">
    <form method="get" th:action="@{/report/order}">
        <div class="form-group row">
            <label class="col-lg-auto col-form-label text-truncate"
                   th:for="${#ids.next('date_start')}"
                   th:text="#{report.orders.filter.order_deliveryDate}">Delivery Date</label>
            <div class="col-lg-2">
                <input type="date" class="form-control" name="date_start" th:value="${date_start}">
            </div>
            <label class="col-form-label"
                   th:for="${#ids.next('date_end')}">-</label>
            <div class="col-lg-2">
                <input type="date" class="form-control" name="date_end" th:value="${date_end}">
            </div>

            <label class="col-lg-auto col-form-label text-truncate"
                   th:for="${#ids.next('from_id')}"
                   th:text="#{report.orders.filter.order_from}">From</label>
            <div class="col-lg-2">
                <select class="form-control" name="from_id">
                    <option></option>
                    <option th:each="destination : ${destinations}"
                            th:value="${destination.id}"
                            th:text="${destination.name}"
                            th:attr="selected=${from_id == destination.id} ? 'selected'">Option
                    </option>
                </select>
            </div>

            <label class="col-lg-auto col-form-label text-truncate"
                   th:for="${#ids.next('to_id')}"
                   th:text="#{report.orders.filter.order_to}">To</label>
            <div class="col-lg-2" style="margin-bottom: 10px">
                <select class="form-control" name="to_id">
                    <option></option>
                    <option th:each="destination : ${destinations}"
                            th:value="${destination.id}"
                            th:text="${destination.name}"
                            th:attr="selected=${to_id == destination.id} ? 'selected'">Option
                    </option>
                </select>
            </div>
            <div class="col-lg-auto">
<!--                <input class="btn btn-primary" type="submit" value="Go"/>-->
                <button class="btn btn-primary" type="submit" th:text="#{general.go}">Go</button>
            </div>
        </div>
    </form>

    <div>
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th th:text="#{report.orders.order_number}">order_number</th>
                <th th:text="#{report.orders.order_created}">order_created</th>
                <th th:text="#{report.orders.order_deliveryDate}">order_deliveryDate</th>
                <th th:text="#{report.orders.order_account_email}">order_account_email</th>
                <th th:text="#{report.orders.order_from_name}">order_from_name</th>
                <th th:text="#{report.orders.order_to_name}">order_to_name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${result.lines.empty}">
                <td colspan="6">No results</td>
            </tr>
            <tr th:each="line : ${result.lines}">
<!--                align="right"-->
                <td th:text="${line.order_number}">20003</td>
                <td th:text="${#temporals.format(line.order_created, 'yyyy-MM-dd HH:mm')}">2021-02-12 12:34</td>
                <td th:text="${#temporals.format(line.order_deliveryDate, 'yyyy-MM-dd')}">2021-02-12</td>
                <td th:text="${line.order_account_email}">t@t.t</td>
                <td th:text="${line.order_from_name}"></td>
                <td th:text="${line.order_to_name}"></td>
            </tr>
<!--            <tr>-->
<!--                <td></td>-->
<!--                <td th:text="${result.total.order_created}">2021-02-12 12:34</td>-->
<!--                <td align="right" th:text="${result.total.order_account_email}">t@t.t</td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>
</div>

<div th:insert="~{fragments/footer :: footer}">&copy; 2021 The Static Templates</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>