<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
</head>
<body>
<form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/authenticate}">
    <th:block th:if="${param.error}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
    </th:block>
     <th:block th:if="${param.logout}">
        <div th:replace="fragments/alert :: alert (type='success', message='Successfully signed out.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Please Sign In</legend>
        <div class="form-group row">
            <label for="inputEmail" class="col-lg-3 col-form-label text-truncate">Email</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="username" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-lg-3 col-form-label text-truncate">Password</label>
            <div class="col-lg-9">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required />
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember-me" /> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div  class="offset-lg-3 col-lg-9">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
                <p>New here? <a href="signup" th:href="@{/signup}">Sign Up</a></p>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
                <p><a href="#" th:href="@{/}">Home</a></p>
            </div>
        </div>
    </fieldset>
</form>
<script src="../static/js/jquery.slim.min.js" th:src="@{/js/jquery.slim.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>