<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
 </head>
<body>
<div class="container">
<form class="form-narrow form-horizontal needs-validation" novalidate method="post" th:action="@{/signup}" th:object="${signupForm}" th:fragment="signupForm">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${message.args[0]})})">&nbsp;</div>
    </th:block>
    <fieldset>
        <legend>Please Sign Up</legend>
        <div class="form-group row">
            <label for="email" class="col-lg-3 col-form-label text-truncate">Email</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="email" placeholder="Email address" th:classappend="${#fields.hasErrors('email')}? 'is-invalid'" th:field="*{email}" />
                <div class="invalid-feedback" th:errors="*{email}">Incorrect email</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-lg-3 col-form-label text-truncate">Password</label>
            <div class="col-lg-9">
                <input type="password" class="form-control" id="password" placeholder="Password" th:classappend="${#fields.hasErrors('password')}? 'is-invalid'" th:field="*{password}"/>
                <div class="invalid-feedback"  th:errors="*{password}">Incorrect password</div>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
                <p>Already have an account? <a href="signin" th:href="@{/signin}">Sign In</a></p>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
                <p><a href="#" th:href="@{/}">Home</a></p>
            </div>
        </div>
    </fieldset>
</form>
</div>
<script src="../static/js/jquery.slim.min.js" th:src="@{/js/jquery.slim.min.js}"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>